@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DepartureMono";
  src: url("/DepartureMono-Regular.woff") format("woff");
}

html,
body {
  font-family: "DepartureMono";
  background-color: theme("colors.neutral.900");
  color: theme("colors.neutral.100");
  font-size: 14px;
}
input,
textarea, select {
  background-color: theme("colors.neutral.800");
  color: theme("colors.neutral.100");
  border: 1px solid theme("colors.neutral.700");
}
